.countries {
  display: flex;
  font-family: "NunitoSans Regular";
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  &__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin-bottom: 2rem;
  }
  &__image{
      width: 100%;
      height: 12rem;
      object-fit: cover;
  }
  &__container{
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
      padding-left: 1rem;
  }
  &__container >h3{
      margin: 0;
  }
  &__container >p{
      margin:0;
      padding-top: 0.5rem;
      padding-bottom: 0.25rem;
  }
}
@media screen and (min-width: 768px) {
  .countries {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 4rem;
    margin-left: 4rem;
    max-width: 100rem;
    margin-right: 2rem;
    &__card{
        width: 21.75%;
        margin-top: 2rem;
        margin-right: 3rem;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
  }
}
