.country {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  &__dark {
    background-color: #2b3945;
    color: white;
  }
  &__light {
    background-color: white;
    color: hsl(207, 26%, 17%);
  }
}

@media screen and (min-width: 768px) {
  .country {
    width: 15rem;
    margin-right: 4rem;
    margin-top: 2rem;
  }
}
