body{
    margin: 0 auto;
}
.input-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80rem;
}

@media screen and (min-width:768px){
    .input-parent{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "NunitoSans Regular"
    }
}
@font-face {
    font-family: "NunitoSans Regular";
    src: local("NunitoSans Regular"),
      url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  }