.header {
  width: 100%;
  height: 5.25rem;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  font-family: "NunitoSans Regular", serif !important;
  margin: 0;
  &__title {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  &__themetitle{
    font-size: 1.17em;
  }
  &__themesection{
     display: inline-flex; 
     padding-top: 0.5rem;
     padding-right: 2rem;

  }
  &__theme-image{
    padding-top: 1rem;
    padding-right: 0.75rem;
  }
}

@font-face {
  font-family: "NunitoSans Regular";
  src: local("NunitoSans Regular"),
    url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}

@media screen and (min-width:768px){
    .header{
        &__title{
            padding-left: 2rem;
        }
    }
}