.input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  &__light {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }
  &__dark {
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .input {
    width: 20rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }
}
